<div class="container">
  <button id="btn-create" class="btn btn-success" (click)="create(modal1)">
    Criar
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th id="acoes" scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of data; index as i">
        <td>{{ pessoa.id }}</td>
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.idade }}</td>
        <td id="acoes">
          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-warning"
              (click)="update(modal1, pessoa)"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="delete(pessoa)"
            >
              Excluir
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #modal1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Pessoa</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-pessoasdetails
      (retorno)="addOrUpdate($event)"
      [pessoa]="selected"
    ></app-pessoasdetails>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Fechar
    </button>
  </div>
</ng-template>
